# OpenAI api key for accessing different models

OPENAI_API_KEY=

# Deepseek api key for accessing different models

DEEPSEEK_API_KEY=

# Pushover api keys for send push notification on mobile phone

PUSHOVER_USER=
PUSHOVER_TOKEN=

# HuggingFace API key for accessing different models

HF_TOKEN=

# Reset api keys for sending emails

RESEND_API_KEY=

# Serper Api key for web search

SERPER_API_KEY=

# Lang Smith Api keys

LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

POLYGON_API_KEY
